<html>
	<head>
		<title>TestPaySlip</title>
	</head>
<body>
	<text>Payslip</text>

    <table width="50%" align="left">
              <tr height="90px">
              </tr>

			  <tr>
                <th align=left>Address</th>
                <td>2-538,ST-Bank Opps.GNT Road,522415,AP,India.</td>
                <td></td>

			</tr>

              <tr>

                <th align=left> ID NO.</th>
                <td>784234AK</td>
				<td></td>
			<pre>
             <th align=left>SS No.</th>
                <td>A38534950</td>
				<td></td>
			</pre>

              </tr>

        <tr>
			<hr size=5 color="#8c8c8c" align=left width="50%">
			  <th align=left> <hr size=5 color="#cccccc" align=left width="570%">Department:</th>

				<td>Complince </td>
				<td></td>

              <th align=left>Section</th>
                <td> </td>
        </tr>

        <tr>
            <th align=left>Unit</th>
                <td></td>
				<td></td>

				<th align=left>Grade</th>
                <td></td>
				<td></td>
		</tr>

		<tr>
            <th align=left>Occupation </th>
             <td>Head Of Complince & MLRO</td>
			 <td></td>
		</tr>

		<tr>
			<th align=left>Roll(s)</th>
			<td>Payroll Run 07 (2022-007)</td>
			<td></td>
		</tr>

		<tr>
			<th align=left>Pay Date</th>
			<td>29/07/2022</td>
			<td></td>
		</tr>

		<tr>
			<th align=left> Roll Period</th>
			<td>01/07/2022 - 31/07/2022</td>
			<td></td>
		</tr>

		<tr>
			<th align=left> <hr size=5 color="#cccccc" align=left width="570%">Benefits to Date</th>
			<td></td>
			<td></td>
		</tr>

		<tr>
			<th align=left> <hr size=3 color="#cccccc" align=left width="570%">Category 1</th>
			<td>0.00</td>
			<td></td>

			<th align=left>Category 2</th>
			<td>0.00</td>
			<td></td>
		</tr>

		<tr>
			<th align=left>Category 3</th>
				<td>545.37</td>
				<td></td>

			<th align=left>ShareOpt</th>
				<td>0.00</td>
				<td></td>
		</tr>

		<tr>
			<th align=left> <hr size=5 color="#cccccc" align=left width="570%"> Totals to Date</th>
			<td></td>
			<td></td>
		</tr>

		<tr>
			<th align=left> <hr size=3 color="#cccccc" align=left width="570%"> Gross</th>
			<td>65,493.00</td>
			<td></td>

			<th align=left>Tax (FSS)</th>
			<td>17,833.00</td>
			<td></td>
		</tr>


		<tr>
			<th align=left>OT Con. Gross</th>
			<td>0.00</td>
			<td></td>

			<th align=left>Tax (OT Con.)</th>
			<td>0.00</td>
			<td></td>
		</tr>

		<tr>
			<th align=left>OT Con. Hours</th>
			<td>0.00</td>
			<td></td>

			<th align=left>Tax (Arrears)</th>
			<td>0.00</td>
			<td></td>

		</tr>


		<tr>
			<th align=left>Social Security</th>
			<td>1,499.10</td>
			<td></td>

			<th align=left>Tax (ShareOpt)</th>
			<td>0.00</td>
			<td></td>

		</tr>

		<tr>
                <th align=left> <hr size=5 color="#cccccc" align=left width="570%">Leave Type <hr size=3 color="#cccccc" align=left width="570%"> </th>
                <td></td>
				<td></td>
        </tr>

	</table>

<!----------TABLE 2 For Right----->
<table width="50%" align="right" >

<text align=right ><b>Mercans Estonia 171</b><br>
								VC$ike-TC$he 20<br>
								Tartu EE</text>
		<tr height="90px">
            <img align=right src="C:\Users\ASRDMS\Downloads\mercans.png" width="100" height="100" border="1" alt= "MainLogo"> </td>
		</tr>

		<tr>
                <th align=left>Basic</th>
                <td align=middle> <b>173.33 Hours <b></td>
				<td align=right > <b> 7,811.00</b></td>
        </tr>

		<tr>
                <th align=left color="#cccccc"> <small>Salary </small> </th>
                <td align=middle color="#cccccc"> <small>173.33</small> </td>
				<td color="#cccccc"> <small> x 45.0643282</small></td>
				<td color="#cccccc"> <small> 7,811.00</small></td>
        </tr>

		<tr>
				<th> <hr size=5 color="#cccccc" align=left width="223%"> <t/h>
		</tr>

		<tr>
                <th align=right color="#cccccc"> 				 </th>
				<th align=middle color="#cccccc"> 173.33 Hours </th>
                <td align=right > <b>7,811.00</b> </td>
        </tr>

		<tr>
                <th align=left>Fringe_Benefit</th>
                <td align=middle> 	 </td>
				<td align=right > <b> 77.91</b></td>
        </tr>


		<tr>
                <th align=left color="#cccccc"> <small>Life Policy Allowance </small> </th>
                <td align=middle color="#cccccc"> <small> 1.00 </small> </td>
				<td align=middle color="#cccccc"> <small> x 32.0800000</small></td>
				<td color="#cccccc"> <small> 32.08</small></td>
        </tr>

		<tr>
                <th align=left color="#cccccc"> <small>Medical Allowance </small> </th>
                <td align=middle color="#cccccc"> <small> 1.00 </small> </td>
				<td align=middle color="#cccccc"> <small> x 45.8300000</small></td>
				<td color="#cccccc"> <small> 45.83</small></td>
        </tr>

		<tr>
                <th align=left> <hr size=2 color="black" align=left width="223%">Gross Total</th>
                <td align=middle> <b> <b></td>
				<td align=right > <b> 7,888.91</b></td>
        </tr>

		<tr>
                <th align=left> <hr size=2 color="black" align=left width="223%">Adjustment</th>
                <td align=middle> <b> <b></td>
				<td align=right > <b> 7.00</b></td>
        </tr>

		<tr>
                <th align=left color="#cccccc"> <small>Adjustment Post Tax </small> </th>
                <td align=middle color="#cccccc"> <small> 1.00 </small> </td>
				<td align=middle color="#cccccc"> <small> x 7.0000000</small></td>
				<td color="#cccccc"> <small align=right> 7.00</small></td>
        </tr>

		<tr>
                <th align=left> <hr size=2 color="black" align=left width="223%"><small>Tax (FSS Main Method <br>Single Tax Bands)</small></th>
                <td align=middle> <b> <b></td>
				<td align=right > <b> -2,034.00</b></td>
        </tr>

		<tr>
                <th align=left> <hr size=2 color="black" align=left width="223%">Social Security (4 weeks)</th>
                <td align=middle> <b> <b></td>
				<td align=right > <b> -199.88</b></td>
        </tr>

		<tr>
                <th align=left> <hr size=2 color="black" align=left width="223%">Net</th>
                <td align=middle> <b> <b></td>
				<td align=right > <b>b, 5,662.03</b></td>
        </tr>

	</body>
	</html>




	<tr>
		<td colspan="2">
			<table>
				<th:block
					th:if="${report['row_section']['rows_by_identifier']['Balances'] != null}">
					<th:block
						th:each="row : ${report['row_section']['rows_by_identifier']['Balances'][0]}">
						<tr>
							<td colspan="2" th:text="${row.value['Account_3']}">asd</td>
						</tr>
					</th:block>
				</th:block>
			</table>
		</td>
		<td colspan="1">
			<table>
				<th:block
					th:if="${report['row_section']['rows_by_identifier']['Balances'] != null}">
					<th:block
						th:each="row : ${report['row_section']['rows_by_identifier']['Balances'][0]}">
						<tr>
							<td colspan="1" class="text-right vertical-align-middle"
								th:text="${row.value['Initial_3']}">-</td>
						</tr>
					</th:block>
				</th:block>
			</table>
		</td>
		<td colspan="1">
			<table>
				<th:block th:if="${report['row_section']['rows_by_identifier']['Months'] != null}">
					<th:block
						th:each="row : ${report['row_section']['rows_by_identifier']['Months'][0]}">
						<tr>
							<td colspan="1" class="text-right vertical-align-middle"
								th:text="${row.value['Months_3']}">-</td>

						</tr>
					</th:block>
				</th:block>
			</table>
		</td>
		<td colspan="1">
			<table>
				<th:block
					th:if="${report['row_section']['rows_by_identifier']['Remaining'] != null}">
					<th:block
						th:each="row : ${report['row_section']['rows_by_identifier']['Remaining'][0]}">
						<tr>
							<td colspan="1" class="text-right vertical-align-middle"
								th:text="${row.value['Remaining_3']}">-</td>

						</tr>
					</th:block>
				</th:block>
			</table>
		</td>


	</tr>

	<!-- lknahsf -->


	