<style type="text/css" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="payslip_styles">
    * {
        font-family: Verdana, Arial, sans-serif;
        font-size: 10px;
        background-color: #fff;
        color: #000
    }

    small {
        font-size: 8px;
    }

    body,
    html {
        margin: 0 !important;
        padding: 1px !important;

    }

    hr {
        height: 0;
        border-bottom: 1px solid #ccc;
    }

    table {
        margin-bottom: 20px;
        page-break-after: auto;
    }

    table:last-child {
        margin-bottom: 0;
    }

    thead {
        display: table-header-group;
    }

    tr.title>td,
    tr.title>td>div,
    tr.title>td>div>span {
        font-size: 11px;
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto;
    }

    table tbody tr td:before,
    table tbody tr td:after,
    table tfoot tr th:before,
    table tfoot tr th:after {
        content: "";
        height: 1px;
        display: block;
    }

    table>thead>tr.caption>td {
        background: #aaa;
        border-bottom: 1px solid #000;
        font-size: 10px;
        font-weight: bold;
        padding: 3px;
        text-align: center;
    }

    .table {
        border: 1px solid #000;
        border-collapse: collapse;
        width: 100%;
    }

    .table>thead>tr>th,
    .table>tfoot>tr>th {
        background: #ddd;
        text-align: left;
    }

    .table>tbody>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>th {
        vertical-align: top;
        border-bottom: 1px solid #000;
        padding: 0px;
    }

    .table>tbody>tr>td,
    .table>tfoot>tr>th {
        border: 1px solid black;
    }

    .table>thead>tr>th {
        font-weight: bold;
    }

    .table>tbody>tr.important>td {
        background-color: #f8f8f8;
        font-weight: bold;
    }

    .infobox {
        border: 1px solid #ccc;
    }

    .table-2col>tbody>tr>td {
        width: 50%;
    }

    .table-3col>tbody>tr>td {
        width: 33%;
    }

    .table-4col>tbody>tr>td {
        width: 25%;
    }

    .text-center {
        text-align: center !important;
    }

    .text-right {
        text-align: right !important;
    }

    .text-left {
        text-align: left !important;
    }

    .text-bold {
        font-weight: bold;
    }

    .bg-attention {
        background-color: #f2dede;
    }

    .document-footer {
        margin-top: 10px;
    }

    .document-footer p {
        font-size: 9px;
        text-align: center;
    }

    .document-footer-ref {
        font-size: 9px;
        vertical-align: bottom;
    }

    .document-footer-copy {
        font-size: 9px;
        text-align: center;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .panel {
        border: 1px solid #000;
    }

    .panel>.panel-heading {
        background: #aaa;
        border-bottom: 1px solid #000;
        font-size: 10px;
        font-weight: bold;
        padding: 6px;
        text-align: center;
    }

    .panel>.panel-body {
        padding: 10px;
    }

    table {
        width: 100%;
        margin-bottom: 10px;
    }

    .table-height {
        height: 200px !important;
    }

    .table-left {
        width: 50%;
        float: left;
    }

    .table-right {
        width: 50%;
        float: right;
    }

    .key {
        width: 100px !important;
    }

    .infobox {
        border: 1px solid #000;
    }

    .header-table {
        font-weight: bold;
        text-align: right;
    }

    .header-table td:first-child {
        text-align: left;
    }

    img.logo {
        max-height: 90px;
        max-width: 300px;
    }

    .details-table {
        border: 1px solid #000;
        border-spacing: 0;
        padding: 0;
    }

    .info-table {
        border: 1px solid #000;
        border-spacing: 0;

    }

    .main-header {
        background: #aaa;
    }

    .vertical-align-middle {
        vertical-align: middle !important;
    }

    .info-table>tbody>tr>td {
        border-right: 1px solid #000;
        border-left: 1px solid #000;
        padding: 4px;
        vertical-align: top;
    }

    .info-table>tbody>tr>td:first-child {
        border-left: 0;
    }

    .info-table>tbody>tr>td:last-child {
        border-right: 0;
    }

    .details-table>tbody>tr>td {
        border-right: 1px solid #000;
        border-left: 1px solid #000;
        padding: 0;
        vertical-align: top;
    }

    .details-table>tbody>tr>td:first-child {
        border-left: 0;
    }

    .details-table>tbody>tr>td:last-child {
        border-right: 0;
    }

    .row-header {
        background: #ddd;
        font-weight: bold;
    }

    .details-row-key {
        border-left: 1px solid #000;
        border-right: 1px solid #000;
    }

    .details-row-key>tbody>tr>td {
        padding: 4px;
        border-spacing: 0;
        border-top: none;
        border-bottom: none;
    }

    .details-row-key-arabic {
        width: 20% !important;
        background: #ddd;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
        font-weight: bold;
    }

    .details-row-table {
        border-spacing: 0;
        border: 1px solid #000;
        padding: 4px;
    }

    .details-row-table>tbody>tr>td {
        padding: 4px;
        border-spacing: 0;
        width: 50%;
        border: none;
    }

    .details-row-table>tbody>tr>td:first-child {
        background: #ffffff;
        width: 50%;
        border-right: 1px solid #000;
        border-left: none;
        font-weight: bold;
    }

    .detail-row-table>tbody>tr>td:last-child {
        text-align: left;
    }

    .general-ledger-table,
    .general-ledger-table>caption,
    .general-ledger-table>tbody>tr>td {
        border: 0;
    }

    .leave-balance {
        margin-top: -10px;
        margin-bottom: 20px;
        float: left;
        list-style: none;
        width: 100%;
    }

    .leave-balance li {
        margin-left: -35px;
    }

    .border-right {
        border-right: 1px solid black !important;
    }

    .border-none {
        border: none !important;
    }

    .border-rgiht-none {
        border-right: none !important;
    }

    .border-left-none {
        border-left: none !important;
    }

    .margin-bottom-0 {
        margin-bottom: 0 !important;
    }

    .margin-top-0 {
        margin-top: 0 !important;
    }

    .solid-border {
        border: 1px solid #000000 !important;
    }


    .infobox-3-row {
        float: right;
        width: 32%;
        padding: 22px 10px 23px 10px;
    }

    .infobox-4-row {
        float: right;
        width: 25%;
        padding: 32px 10px 33px 10px;
    }

    .infobox-5-row {
        float: right;
        width: 32%;
        padding: 42px 10px 43px 10px;
    }

    .page-break-inside-avoid {
        page-break-inside: avoid;
    }

    #testid1 {
        float: left;
        width: 50%;
    }

    #testid2 {
        float: right;
        width: 50%;
    }
</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<th:block th:with="reportRow = ${report['row_section']['rows'][0]}">

    <table class="table-3col header-table" style="margin-bottom: 0 !important;">
        <tr class="title">
            <td th:if="${logo_uri == null}">
                <!-- <div th:text="${legalEntity.getLegalName()}"></div> -->
            </td>
            <td th:if="${logo_uri != null}">
                <img th:src="${logo_uri}" th:alt="${legalEntity.getLegalName()}" class="logo" /><br><br>
            </td>
            <td></td>
            <td th:if="${!label.isEmpty()}" th:text="${#strings.toUpperCase(label)}"></td>
        </tr>
    </table>

    <table class="table details-row-table table-right">
        <tr valign="top">
            <td width="25%">Pay Period</td>
            <td class="text-bold" width="25%" style="background-color:  #ddd;">Net Pay</td>
        </tr>
        <tr valign="top">
            <td th:text="${period.getName()}"></td>
            <td class="text-bold" style="background-color:  #ddd;" getLe> XAF <span style="background-color: #ddd; "
                    colspan="2" class="border-left-none text-right"
                    th:text="${#numberFormat.format(transferable_amount, noDecimalValueFormat)}"> </span></td>
        </tr>

    </table>

    <table class="table details-row-key">
        <tr valign="top">
            <td width="19%" class="row-header">Employee name</td>
            <td width="31%" th:text="${employeeDisplayName}">John Doe</td>
            <td width="19%" class="row-header">NHF Number</td>
            <td th:text="${reportRow.nhf}"></td>

        </tr>
        <tr valign="top">
            <td class="row-header">Employee ID</td>
            <td th:text="${employee.getReferenceCode()}"></td>
            <td class="row-header">Cost Center</td>
            <td th:text="${reportRow.cost_center}"></td>
        </tr>
        <tr valign="top">
            <td class="row-header">Position</td>
            <td th:text="${employee.getPosition()}"></td>
            <td class="row-header">Bank Name</td>
            <td th:text="${reportRow.bank_name}"></td>
        </tr>
        <tr valign="top">
            <td class="row-header">Date of Joining</td>
            <td th:text="${#dateUtil.formatDate(employee_hire_date, dateFormat)}"></td>
            <td class="row-header">Bank Account</td>
            <td th:text="${reportRow.bank_account}"></td>
        </tr>
        <tr valign="top">
            <td class="row-header">Pay Period</td>
            <td th:text="${reportRow.pay_period}"></td>
            <td class="row-header">Employee Status</td>
            <td th:text="${reportRow.employee_status}"></td>
        </tr>
        <tr valign="top">
            <td class="row-header">Pay Date</td>
            <td th:text="${reportRow.pay_date}"></td>
            <td class="row-header">Employee Group</td>
            <td th:text="${reportRow.employee_group}"></td>
        </tr>
        <tr valign="top">
            <td class="row-header">Department</td>
            <td th:text="${reportRow.department}"></td>
            <td width="19%" class="row-header">Employee Tax ID number</td>
            <td th:text="${reportRow.employee_tax}"></td>
        </tr>
        <tr valign="top">
            <td class="row-header">Email</td>
            <td th:text="${employee.getPerson().getPrimaryEmail()}"></td>
            <td width="19%" class="row-header"></td>
            <td></td>
        </tr>
    </table>


   <table class="table">
    <thead>
        <tr class="caption">
            <td colspan="4">Summary</td>
        </tr>
    </thead>
    <thead>
        <tr>
            <th>Pay currency</th>
            <th class="text-right">Entitlements</th>
            <th class="text-right">Deductions</th>
            <th class="text-right">Net pay</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td width="25%" th:text="${currency}"></td>
            <td width="25%" class="text-right" th:text="${#numberFormat.format(entitlements_amount, valueFormat)}"></td>
            <td width="25%" class="text-right" th:text="${#numberFormat.format(deductions_amount, valueFormat)}"></td>
            <td width="25%" class="text-right" th:text="${#numberFormat.format(net_pay_amount, valueFormat)}"></td>
        </tr>
    </tbody>
</table>

    <table id="testid1" class="table">
        <thead>

            <tr>
                <th width="33%" colspan="2">EARNINGS</th>
                <th width="33%" class="text-center">AMOUNT</th>
                <th>Year-to-date</th>

            </tr>
        </thead>
        <tbody th:if="${report['row_section']['rows_by_identifier']['EARNINGS'] != null}">
            <tr th:each="row : ${report['row_section']['rows_by_identifier']['EARNINGS'][0]}">
                <td colspan="2" th:text="${row.value['Account_1']}"></td>
                <td class="text-right vertical-align-middle" th:text="${row.value['Amount_1']}">-</td>
                <td class="text-right vertical-align-middle" th:text="${row.value['YTD_1']}">-</td>
            </tr>
            <tr>
                <td colspan="2"> <strong>Total Entitlements</strong></td>
                <td class="text-right vertical-align-middle" th:text="${reportRow['GROSS']}">-</td>
                <td class="text-right vertical-align-middle" th:text="${reportRow['GROSS YTD']}"></td>
            </tr>
        </tbody>
    </table>

    <table id="testid2" class="table">
        <thead>

            <tr>
                <th width="33%" colspan="2">Deductions</th>
                <th width="33%" class="text-center">AMOUNT</th>
                <th>Year-to-date</th>
            </tr>
        </thead>
        <tbody th:if="${report['row_section']['rows_by_identifier']['DEDUCTIONS'] != null}">
            <tr th:each="row : ${report['row_section']['rows_by_identifier']['DEDUCTIONS'][0]}">
                <td colspan="2" th:text="${row.value['Account_1']}"></td>
                <td class="text-right vertical-align-middle" th:text="${row.value['Amount_2']}">-</td>
                <td class="text-right vertical-align-middle" th:text="${row.value['YTD_2']}">-</td>
            </tr>
            <tr>
                <td colspan="2"> <strong>Total Deductions</strong></td>
                <td class="text-right vertical-align-middle" th:text="${reportRow['TOTAL DEDUCTIONS']}">-</td>
                <td class="text-right vertical-align-middle" th:text="${reportRow['TOTAL DEDUCTIONS YTD']}"></td>
            </tr>
        </tbody>
    </table>




  <table  class="table">
        <thead>
            <tr>
                <th class="text-center" style="background-color: rgb(170,170,170);" colspan="6">Details</th>
            </tr>
            <tr>
                <th width="28%" colspan="2">Notes: Unamortized Balances</th>
                <th width="20%" class="text-center">Initial Amount</th>
                <th width="20%" class="text-center">Months to go</th>
                <th width="20%" class="text-center">Remaining  Balances</th>
            </tr>
        </thead>
        <tbody th:if="${report['row_section']['rows_by_identifier']['EARNINGS'] != null}">
            <tr th:each="row : ${report['row_section']['rows_by_identifier']['EARNINGS'][0]}">
                <td colspan="2" th:text="${row.value['Account_1']}">anbsfkjbe</td>
                <td class="text-right vertical-align-middle" th:text="${row.value['Unit_1']}">1233kjc</td>
                <td class="text-right vertical-align-middle" th:text="${row.value['Amount_1']}">98679</td>
                <td class="text-right vertical-align-middle" th:text="${row.value['YTD_1']}">975384</td>
            </tr>

        </tbody>
    </table>

    <table class="footer">
        <tr>
            <td width="25%" class="document-footer-ref" th:text="${#strings.toUpperCase(code)}"></td>
            <td colspan="3" class="document-footer-copy">
                This document has been generated by Mercans
                <br>
                <br>
                &copy; All rights reserved
            </td>
            <td width="25%"></td>
        </tr>
    </table>
</th:block>